<h1>ユーザー詳細画面</h1>

<h3> ユーザー情報 </h3>
ユーザー名　<%= @user.name %>
<br>

ユーザー情報 <%= link_to '編集', edit_user_path(@user) %> <%= link_to '削除', user_path(@user), method: :delete %>
<br>

<h3> 投稿レビュー一覧 </h3>

<%= render partial: "layouts/reviews_index", locals: { reviews: @user.reviews} %>
<br>