<% breadcrumb :genre %>
<h1>ジャンル詳細画面</h1>

<h3> ジャンル情報 </h3>
<%=  "#{Genre.human_attribute_name(:name)} #{@genre.name}" %>
<br>
<%=  "#{Genre.human_attribute_name(:description)} #{@genre.description}" %>
<br>

<h3> 投稿レビュー一覧 </h3>

<%= render partial: "shared/reviews_index", locals: { reviews: Review.where(game_id: @genre.games)} %>
<br>